.aside{
    max-width: 200px;
    background-color: var(--neutral-header);
    min-height: 100vh;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.footer {
    font-size: 13px;
    line-height: 120%;
    color: var(--neutral-text);
    text-align: center;
}